<h1>
	LinkAnd <br/>
	<small>
		{{"views.about.Slogan" | translate}}
	</small>
</h1>

<h2> {{"views.about.title.general" | translate}} </h2>
<p ng-bind-html=" 'views.about.text.general.p1' | translate">
</p>
<p ng-bind-html=" 'views.about.text.general.p2' | translate">
</p>
<p  ng-bind-html=" 'views.about.text.general.p3' | translate">
</p>

<h2> {{"views.about.title.holder" | translate}} </h2>
<p ng-bind-html=" 'views.about.text.holder.p1' | translate">
</p>
<p ng-bind-html=" 'views.about.text.holder.p2' | translate">
</p>

<h2>{{"views.about.title.proponent" | translate}}</h2>
<p ng-bind-html=" 'views.about.text.proponent.p1' | translate">
</p>

<h2>{{"views.about.title.how" | translate}}</h2>
<p ng-bind-html=" 'views.about.text.how.p1' |translate">
</p>

