<h1>Projects</h1>
<div>

  <div>
       <span ng-repeat="(key, tag) in group">
       	      <a class="btn btn-primary" ng-click="selectTag(key)" ng-class="(tagSelected.name === tag.name) ? 'active' : ''">{{key}}</a>
       </span>
  </div>

  <br/>

  <div ng-show="tagSelected">
     <input type="text" ng-model="search"/>
     <a class="btn btn-primary" ng-click="getReach()">Reach</a>
     <span ng-show="result.length > 0">{{result.length}} project(s)</span>
  </div>

  <br/>

  <div ng-show="tagSelected">
    <div ng-repeat="project in result">
   	   <tile-project project="project"></tile-project>
    </div>
  </div>

</div>